body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    height: 30px;
    color: #fff;
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-bottom: 60px; /* フッターの高さと同等またはそれ以上の余白を設定 */
    overflow: auto; /* 必要に応じてスクロールバーを表示 */
}

footer {
    background-color: #333;
    height: 30px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

#hero {
    background-image: url('../img/LPJ_illustration.png'); /* 画像パスは適宜修正してください */
    background-size: cover;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:darken;
    background-position: center;
    height: 50vh; /* ビューポートの高さいっぱいに */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* タイトルの文字色を白に */
    text-shadow: 1px 1px 2px pink;
}

#hero h1 {
    font-size: 3rem; /* タイトルのサイズを大きく */
    margin-bottom: 0.5em;
}

#hero p {
    font-size: 1.5rem; /* サブタイトルのサイズ */
}

#about {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

#about-content {
    width: 90vh;
    text-shadow: none;
}

.content-container {
    display: flex; /* Flexboxを有効化 */
    flex-direction: column; /* 縦方向に並べる */
    justify-content: space-around;  /*セクション間に適度な間隔を設定 */
    align-items: center; /* 横方向に中央揃え */
}

#news {
    width: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

#members {
    width: auro;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

#events {
    width: auro;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

.news-content {
    height: 200px; /* お知らせウィンドウの高さを設定 */
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll; /* 垂直方向にスクロールバーを表示 */
    padding: 10px; /* 内容と枠の間にスペースを作る */
    border: 1px solid #ccc; /* 枠線を設定 */
    margin: 10px 0; /* 上下のマージン */
    background-color: #f8f8f8; /* 背景色 */
    text-shadow: none;
}

.members-content {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: left;
    text-shadow: none;
    text-align: left;
    margin: 10px 0; /* 上下のマージン */
}

.events-content {
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-self: center;*/
    align-items: left;
    text-shadow: none;
    text-align: left;
    overflow-y: scroll; /* 垂直方向にスクロールバーを表示 */
    padding: 10px; /* 内容と枠の間にスペースを作る */
    border: 1px solid #ccc; /* 枠線を設定 */
    margin: 10px 0; /* 上下のマージン */
    background-color: #f8f8f8; /* 背景色 */
    text-shadow: none;
}

.event-category {
    text-align: center;
    margin-top: 30px;
}

#news ul {
    padding: 0; /* デフォルトのパディングをリセット */
    list-style-type: none; /* リストアイテムのスタイルをリセット */
    margin-top: 150px;
}
#blog ul {
    padding: 0;
    list-style-type: none;
}

#news li {
    margin-bottom: 30px; /* ニュースアイテム間のスペース */
}

#blog li {
    margin-bottom: 10px;
}

#lpj-sympo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

#lpj-sympo-title{
    width: 100vh;
    text-align: left;
    text-shadow: none;
}

#lpj-sympo .lpj-sympo-content {
    width: 90vh;
    font-size: 18px;
    text-align: left;
    text-shadow: none;
}

#partners {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

#publication {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

#lang-en, #lang-ja {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}
